---
name: Publish

on:
  release:
    types: [published]

permissions: {}

jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      # id-token: write
      # packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        # with:
          # ref: ${{ github.event.release.tag_name }}
          # persist-credentials: false

      # - name: Publish
      #   id: publish
      #   uses: actions/publish-immutable-action@4bc8754ffc40f27910afb20287dbbbb675a4e978 # v0.0.4

      - name: Publish
        id: publish
        uses: actions/publish-action@23f4c6f12633a2da8f44938b71fde9afec138fb4 # v0.4.0
        with:
          source-tag: ${{ github.event.release.tag_name }}
