---
name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - run: |
          find . -maxdepth 1 ! -name 'dist' ! -name '.' ! -name 'README.md' ! -name 'LICENSE' ! -name 'action.yml' -exec rm -rf {} +
          ls

      - run: |
          gh release download "${RELEASE_TAG}" --clobber
          ls
        env:
          RELEASE_TAG: ${{ github.event.release.tag_name }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          ls

      # - name: Publish
      #   id: publish
      #   uses: actions/publish-immutable-action@4bc8754ffc40f27910afb20287dbbbb675a4e978 # v0.0.4
